[submodule "sans-car/sans-car-bot"]
	path = sans-car/sans-car-bot
	url = git@github.com:tristan-zander/sans-car-bot.git
[submodule "advent_of_code_2020"]
	path = advent_of_code_2020
	url = git@github.com:tristan-zander/advent_of_code_2020.git
[submodule "sans-car-new"]
	path = sans-car-new
	url = git@github.com:tristan-zander/sans-car.git
[submodule "sans-car-old"]
	path = sans-car-old
	url = git@github.com:tristan-zander/sans-car-bot.git
[submodule "fruit-pong"]
	path = fruit-pong
	url = git@github.com:BCECHS-Coding-Club/fruit-pong.git
